body {
  padding-top: 56px;
}

a {
  text-decoration: none;
}

/* Navbar */
.btn-link {
  text-decoration: none;
}

.nav-icon-cart {
  padding-top: 11px;
}

.navbar-cart-icon {
  position: relative;
}

.badge {
  position: absolute;
  top: -1px;
  right: -9px;
  padding: 0 6px;
  height: 1rem;
  line-height: 1rem;
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: 400;
  color: white;
  background-color: #c8b964;
}

.card-product-item {
  margin-top: 16px;
}

.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px;
}

.select-all-options {
  width: 160px;
  margin: 0 16px;
}

/* Footer */

#footer {
  padding: 64px 16px;
  text-align: center;
  margin-top: 170px;
}

#footer .socials-list {
  font-size: 24px;
}

#footer .socials-list a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

#footer .copyright a:hover,
#footer .socials-list a:hover {
  color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
  color: rgba(0, 0, 0, 0.6);
}

/* Image preview */
.image-preview {
  width: 300px;
  height: 200px;
  border: 2px solid #ccc;

  display: flex;
  align-items: center;
  justify-content: center;
}

.image-preview__image {
  display: none;
  width: 100%;
  height: 100%;

  object-fit: contain;
}

/* Toast */
#toasts {
  position: fixed;
  top: 82px;
  right: 32px;

  z-index: 99999;
}

.toasts {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 20px 0;

  border-radius: 2px;
  border-left: 4px solid;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  min-width: 400px;
  max-width: 450px;
  transition: all linear 0.3s;
  animation: slideInLeft ease 0.3s, fadeOut linear 1s 3s forwards;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.toasts + .toasts {
  margin-top: 24px;
}

.toasts__icon,
.toasts__close {
  padding: 0px 16px;
}

.toasts__icon {
  font-size: 24px;
}

.toasts__body {
  flex-grow: 1;
  text-align: start;
}

.toasts__title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.toasts__msg {
  font-size: 14px;
  color: #888;
  margin-top: 4px;

  line-height: 1.5;
}

.toasts__close {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.toasts--success {
  border-color: #47d864;
}

.toasts--success .toasts__icon {
  color: #47d864;
}

.toasts--info {
  border-color: #2f86eb;
}

.toasts--info .toasts__icon {
  color: #2f86eb;
}

.toasts--warning {
  border-color: #ffc021;
}

.toasts--warning .toasts__icon {
  color: #ffc021;
}

.toasts--error {
  border-color: #ff623d;
}

.toasts--error .toasts__icon {
  color: #ff623d;
}

/* Card product */
.card-body {
  padding: 2rem 1rem;
}

.card-title {
  font-size: 1.3rem;
}

.card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.3s ease-in-out;
}

.sp_price {
  font-size: 19px;
}

.sp_price span {
  color: #c8b964;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.btn_card {
  height: 40px;
  border-radius: 5px;
  padding: 7px;
  border: 2px solid #c8b964;
  background-color: #fff;
  color: #4474a2;
}

.btn_card:hover {
  background-color: #c8b964;
  color: #fff !important;
}

/* Product detail */
.product-detail {
  margin-top: 100px;
}

.big-img {
  width: 600px;
}

.big-img img {
  width: 100%;
}

.sp_detail {
  font-size: 1.666666666666667em;
  font-weight: 500;
}

.sp_parameters {
  padding: 0.2777777777777778rem 0;
  font-size: 1em;
}

.parameters_tt {
  color: #9e9e9e;
  font-weight: 600;
  display: inline-block;
  min-width: 7.222222222222222rem;
  vertical-align: middle;
}

.parameters_txt {
  color: #000;
  font-weight: 700;
  display: inline-block;
  vertical-align: middle;
}

.sp_detai_price {
  border-top: 1px solid #b7b7b7;
  border-bottom: 1px solid #b7b7b7;
  font-size: 1.666666666666667em;
  font-weight: 600;
  color: #c8b964;
  padding: 0.9rem 0;
  margin-top: 1rem;
}

.sp_detail_order {
  padding-top: 2rem;
  display: flex;
}

.sp_detail_order_num .tt_num_order {
  font-size: 0.9444444444444444em;
  color: #9f9f9f;
  font-weight: 600;
  margin-right: 20px;
}

.sp_detail_order_num .num {
  height: 3rem;
  width: 3rem;
  border: 2px solid #b6b6b6;
  background-color: #fff;
  font-size: 0.9444444444444444em;
  font-weight: 700;
  color: #00427d !important;
  line-height: 3rem;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
}

.sp_detail_order_num .icon {
  margin: 0 0.4444444444444444rem;
  vertical-align: middle;
  color: #9f9f9f;
  font-size: 0.8888888888888889em;
}

.sp_detail_order > div {
  display: flex;
  align-items: center;
}

.btn_web {
  display: inline-block;
  height: 40px;
  border-radius: 5px;
  padding: 6px 20px 0 20px;
  border: 2px solid #c8b964;
  background-color: #fff;
  color: #4474a2;
  margin-left: 20px;
  font-weight: 600;
}

.btn_web:hover {
  background-color: #c8b964;
  color: #fff !important;
}

.sp_description {
  font-size: 1.1rem;
}
