<nav class='navbar fixed-top navbar-expand-lg navbar-dark bg-dark'>
  <div class='container'>
    <a class='navbar-brand' href='/'>My Shop</a>
    <button
      class='navbar-toggler'
      type='button'
      data-bs-toggle='collapse'
      data-bs-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav ms-auto mb-2 mb-lg-0'>
        {{#if login}}
          <li class='nav-item dropdown'>
            <a
              class='nav-link dropdown-toggle'
              href='#'
              id='navbarDropdown'
              role='button'
              data-bs-toggle='dropdown'
              aria-expanded='false'
            >
              <img src='../../../images/profile.jpg' alt='profile' class='user-avatar' />
              {{getCurrentUser currentUser}}
            </a>
            <ul class='dropdown-menu' aria-labelledby='navbarDropdown'>
              {{#if (checkAdmin currentUser)}}
                <li><a class='dropdown-item' href='/admin/products/show'>Quản lý sản phẩm</a></li>
                <li><hr class='dropdown-divider' /></li>
              {{/if}}
              <li>
                <a class='dropdown-item' href='/me/stored/courses'>
                  Đơn hàng của tôi
                </a>
              </li>
              <li><hr class='dropdown-divider' /></li>
              <li><a class='dropdown-item' href='/auth/logout'>Đăng xuất</a></li>
            </ul>
          </li>
        {{else}}
          <li class='nav-item'><a class='nav-link' href='/auth/login'>Đăng nhập</a></li>
        {{/if}}
        <li class='nav-item ms-2 navbar-cart-icon'>
          <a class='nav-link nav-icon-cart' href='/cart/show'>
            <i class='fa-solid fa-cart-shopping'></i>
            <span class='badge'>{{session.cart.totalQuantity}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>